/* src/components/SignUp.css */
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--white); /* Light blue background */
  padding: var(--hc-lg);
  border-radius: 1rem;
}

input:focus {
  outline: none;
}

.signup-container h2 {
  color: var(--black); /* Dark blue for the heading */
  margin-bottom: 1.5rem;
}

.signup-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.signup-container input {
  padding: 0.75rem;

  border: 1px solid #8d8c8947;
  border-radius: 0.9rem;
  background-color: var(--lightgray);
  color: var(--black);
  font-size: 1rem;
}

.signup-container input::placeholder {
  color: var(--gray); /* Grey placeholder color */
}

.signup-submit {
  padding: 0.75rem;
  background-color: var(--primary); /* Bright blue button */
  color: var(--white);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  transition: background-color 0.3s ease;
}

.signup-submit:hover {
  background-color: var(--black); /* Darker blue on hover */
}
h1 {
  color: var(--primary);
}
h2 {
  color: var(--primary);
}
.accountSignUpWrapper {
  display: grid;
  grid-template-columns: 45% 55%;
}
.signUpImage {
  background-image: url(https://ik.imagekit.io/ae76otrg0/images/abstract1.webp) !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--lightyellow);
  position: relative;
}
.overlay-bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.9) 10%,
    rgba(255, 255, 255, 0.5) 40%,
    rgba(255, 255, 255, 0) 100%
  );
}

.overlayText-bg {
  position: absolute;
  bottom: 20px; /* Adjust the text position */
  width: 100%;
  text-align: center;
  color: #333; /* Adjust the text color */
  font-size: var(--hc-base);
  font-family: var(--font-2);
}
.error-message {
  color: var(--red);
  padding: 7px 2px;
  font-size: var(--hc-sm);
}
.input-error {
  border-color: #ff00003d !important;
}

.input-success {
  border-color: #00800047 !important;
}
.linkColor {
  color: var(--buttonhover);
}

.label {
  font-size: var(--hc-sm);
  font-family: var(--font-3);
  padding: 5px 2px;
}
.labelHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
}

input::placeholder {
  color: #888;
  font-size: calc(var(--hc-sm) - 2px);
  font-family: var(--font-2);
  opacity: 1;
}
.namesHolder {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.flexHolder {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .namesHolder {
    display: grid;
    width: 100%;
    gap: 10px;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
  }
}
.termsHolder {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}
.termsHolder a {
  color: blue;
}
.termsHolder label {
  font-family: var(--font-2);
  font-size: var(--hc-sm);
}
@media screen and (max-width: 767px) {
  .accountSignUpWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .signUpImage {
    display: none;
  }
  .signup-container input {
    margin-bottom: unset;
  }
  .flexHolder:first-of-type {
    margin-bottom: 1rem;
  }
}

.accountSignUpWrapper .navbar {
  display: none;
  position: absolute;
}
.Homelink {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .Homelink {
    display: none;
  }
}
.checkbox {
  cursor: pointer;
}
.loginLink {
  margin-top: 1rem;
  color: var(--black);
  font-size: var(--hc-sm);
}
.loginLink a {
  color: blue;
}
.info {
  font-size: calc(var(--hc-sm) - 2px);
  font-family: var(--font-2);
  color: var(--secondary);
}
.warning {
  font-size: calc(var(--hc-sm) - 2px);
  font-family: var(--font-2);
  color: var(--red);
}
.iti__tel-input {
  width: 100%;
}
.checkmarkLabel {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.signInOption {
  padding: 12px 10px;
}
.login-link {
  color: var(--buttonhover);
}
.signupHeader {
  font-size: var(--hc-lg);
  font-family: var(--font-3);
}
.eyeToggle {
  position: absolute;
  right: 10px;
  top: 16px;
  cursor: pointer;
}
.passEye {
  display: grid;
  position: relative;
}
